.container {
  margin-left: 10px;
  margin-right: 10px;
  height: 550px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}

.image > img {
  height: 400px;
  width: 100%;
  min-width: 600px;
}

.container > .title > h1 > a {
  font-size: 25px;
  color: white;
}

.container > .title {
  margin-top: 10px;
}

.container > .resume > p {
  color: gray;
}

.container > .resume {
  margin-top: 10px;
}

.date {
  color: #333; /* Cor da data */
  font-size: 16px; /* Tamanho da fonte da data */
  margin-top: 5px; /* Espaço entre o texto e a data */
}
