.container > ul {
  display: flex;
  flex-direction: row;
}

.container > ul > li {
  margin-right: 40px;
  list-style-type: none;
}

.container > ul > li > span {
  color: white;
}

.container > ul > li > a {
  color: white;
}


.container > ul > li > a {
  color: white;
  font-weight: normal;
  font-size: 16px;
  transition: transform 0.3s, font-weight 0.3s;
  display: inline-block; /* Para evitar quebrar a linha */
}

.container > ul > li > a:hover {
  transform: scale(1.1); /* Aumenta o tamanho do texto em 10% */
  font-weight: bold;
}
